.actionBar
  .octave.medium
  .instruments
    .button.choirbell
  .picker
  .button.instrument
  .button.b1
  .button.b2
  .button.b3
  .button.b4
  .button.b5
  .button.b6
  .button.b7
  .button.b8
  .button.b9
  .button.b0

.bell
.horn
.flute